In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [2]:
df = pd.read_csv("C:\\Users\\Jai\\Desktop\\Flight Price Prediction Project\\Data_Train.csv")
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [3]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [4]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [5]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [6]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [7]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [8]:
df['Route'].unique()

array(['BLR → DEL', 'CCU → IXR → BBI → BLR', 'DEL → LKO → BOM → COK',
       'CCU → NAG → BLR', 'BLR → NAG → DEL', 'CCU → BLR',
       'BLR → BOM → DEL', 'DEL → BOM → COK', 'DEL → BLR → COK',
       'MAA → CCU', 'CCU → BOM → BLR', 'DEL → AMD → BOM → COK',
       'DEL → PNQ → COK', 'DEL → CCU → BOM → COK', 'BLR → COK → DEL',
       'DEL → IDR → BOM → COK', 'DEL → LKO → COK',
       'CCU → GAU → DEL → BLR', 'DEL → NAG → BOM → COK',
       'CCU → MAA → BLR', 'DEL → HYD → COK', 'CCU → HYD → BLR',
       'DEL → COK', 'CCU → DEL → BLR', 'BLR → BOM → AMD → DEL',
       'BOM → DEL → HYD', 'DEL → MAA → COK', 'BOM → HYD',
       'DEL → BHO → BOM → COK', 'DEL → JAI → BOM → COK',
       'DEL → ATQ → BOM → COK', 'DEL → JDH → BOM → COK',
       'CCU → BBI → BOM → BLR', 'BLR → MAA → DEL',
       'DEL → GOI → BOM → COK', 'DEL → BDQ → BOM → COK',
       'CCU → JAI → BOM → BLR', 'CCU → BBI → BLR', 'BLR → HYD → DEL',
       'DEL → TRV → COK', 'CCU → IXR → DEL → BLR',
       'DEL → IXU → BOM → COK', 'CCU → IXB → BLR',
       'BLR → BOM → JDH → DEL', 'DEL → UDR → BOM → COK',
       'DEL → HYD → MAA → COK', 'CCU → BOM → COK → BLR',
       'BLR → CCU → DEL', 'CCU → BOM → GOI → BLR',
       'DEL → RPR → NAG → BOM → COK', 'DEL → HYD → BOM → COK',
       'CCU → DEL → AMD → BLR', 'CCU → PNQ → BLR',
       'BLR → CCU → GAU → DEL', 'CCU → DEL → COK → BLR',
       'BLR → PNQ → DEL', 'BOM → JDH → DEL → HYD',
       'BLR → BOM → BHO → DEL', 'DEL → AMD → COK', 'BLR → LKO → DEL',
       'CCU → GAU → BLR', 'BOM → GOI → HYD', 'CCU → BOM → AMD → BLR',
       'CCU → BBI → IXR → DEL → BLR', 'DEL → DED → BOM → COK',
       'DEL → MAA → BOM → COK', 'BLR → AMD → DEL', 'BLR → VGA → DEL',
       'CCU → JAI → DEL → BLR', 'CCU → AMD → BLR',
       'CCU → VNS → DEL → BLR', 'BLR → BOM → IDR → DEL',
       'BLR → BBI → DEL', 'BLR → GOI → DEL', 'BOM → AMD → ISK → HYD',
       'BOM → DED → DEL → HYD', 'DEL → IXC → BOM → COK',
       'CCU → PAT → BLR', 'BLR → CCU → BBI → DEL',
       'CCU → BBI → HYD → BLR', 'BLR → BOM → NAG → DEL',
       'BLR → CCU → BBI → HYD → DEL', 'BLR → GAU → DEL',
       'BOM → BHO → DEL → HYD', 'BOM → JLR → HYD',
       'BLR → HYD → VGA → DEL', 'CCU → KNU → BLR',
       'CCU → BOM → PNQ → BLR', 'DEL → BBI → COK',
       'BLR → VGA → HYD → DEL', 'BOM → JDH → JAI → DEL → HYD',
       'DEL → GWL → IDR → BOM → COK', 'CCU → RPR → HYD → BLR',
       'CCU → VTZ → BLR', 'CCU → DEL → VGA → BLR',
       'BLR → BOM → IDR → GWL → DEL', 'CCU → DEL → COK → TRV → BLR',
       'BOM → COK → MAA → HYD', 'BOM → NDC → HYD', 'BLR → BDQ → DEL',
       'CCU → BOM → TRV → BLR', 'CCU → BOM → HBX → BLR',
       'BOM → BDQ → DEL → HYD', 'BOM → CCU → HYD',
       'BLR → TRV → COK → DEL', 'BLR → IDR → DEL',
       'CCU → IXZ → MAA → BLR', 'CCU → GAU → IMF → DEL → BLR',
       'BOM → GOI → PNQ → HYD', 'BOM → BLR → CCU → BBI → HYD',
       'BOM → MAA → HYD', 'BLR → BOM → UDR → DEL',
       'BOM → UDR → DEL → HYD', 'BLR → VGA → VTZ → DEL',
       'BLR → HBX → BOM → BHO → DEL', 'CCU → IXA → BLR',
       'BOM → RPR → VTZ → HYD', 'BLR → HBX → BOM → AMD → DEL',
       'BOM → IDR → DEL → HYD', 'BOM → BLR → HYD', 'BLR → STV → DEL',
       'CCU → IXB → DEL → BLR', 'BOM → JAI → DEL → HYD',
       'BOM → VNS → DEL → HYD', 'BLR → HBX → BOM → NAG → DEL', nan,
       'BLR → BOM → IXC → DEL', 'BLR → CCU → BBI → HYD → VGA → DEL',
       'BOM → BBI → HYD'], dtype=object)

In [9]:
df['Route'].nunique()

128

In [10]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [11]:
df.dropna()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [12]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [13]:
pd.set_option('display.max_columns', None)
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [14]:
train=df
test=df
submission=df

In [15]:
train.info(),test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

(None, None)

In [16]:
train.isna().sum(),train.isna().sum()

(Airline            0
 Date_of_Journey    0
 Source             0
 Destination        0
 Route              1
 Dep_Time           0
 Arrival_Time       0
 Duration           0
 Total_Stops        1
 Additional_Info    0
 Price              0
 dtype: int64,
 Airline            0
 Date_of_Journey    0
 Source             0
 Destination        0
 Route              1
 Dep_Time           0
 Arrival_Time       0
 Duration           0
 Total_Stops        1
 Additional_Info    0
 Price              0
 dtype: int64)

In [17]:
train['Total_Stops'].value_counts(),test['Total_Stops'].value_counts()

(1 stop      5625
 non-stop    3491
 2 stops     1520
 3 stops       45
 4 stops        1
 Name: Total_Stops, dtype: int64,
 1 stop      5625
 non-stop    3491
 2 stops     1520
 3 stops       45
 4 stops        1
 Name: Total_Stops, dtype: int64)

In [18]:
train['Total_Stops']=train['Total_Stops'].replace(['4 stops'], '3 stops')
test['Total_Stops']=test['Total_Stops'].replace(['4 stops'], '3 stops')

In [19]:
train['Additional_Info'].value_counts(),test['Additional_Info'].value_counts()

(No info                         8345
 In-flight meal not included     1982
 No check-in baggage included     320
 1 Long layover                    19
 Change airports                    7
 Business class                     4
 No Info                            3
 1 Short layover                    1
 Red-eye flight                     1
 2 Long layover                     1
 Name: Additional_Info, dtype: int64,
 No info                         8345
 In-flight meal not included     1982
 No check-in baggage included     320
 1 Long layover                    19
 Change airports                    7
 Business class                     4
 No Info                            3
 1 Short layover                    1
 Red-eye flight                     1
 2 Long layover                     1
 Name: Additional_Info, dtype: int64)

In [20]:
train['Additional_Info']=train['Additional_Info'].replace(['No Info'], 'No info')

In [21]:
def split_date(df):
    df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'],format="%d/%m/%Y")
    df['Month'] = df.Date_of_Journey.dt.month
    df['Day'] = df.Date_of_Journey.dt.day
    df['WeekOfYear'] = df.Date_of_Journey.dt.isocalendar().week
    df['WeekOfYear'] = df['WeekOfYear'].astype(int)

In [22]:
split_date(train)
split_date(test)

In [23]:
def next_day(df):
    for i in df.index:
        if len(df.loc[i, 'Arrival_Time']) <= 5:
            df.loc[i, 'Next_Day'] = 0
        else:
            df.loc[i, 'Next_Day'] = 1
next_day(train)
next_day(test)

In [24]:
def convert_time_columns(df):

    df['Dep_Time'] = pd.to_datetime(df['Dep_Time'], format='%H:%M').dt.hour
    df['Dep_Time'] = df['Dep_Time'].astype(int)
    for i in df.index:
        if len(df.loc[i, 'Arrival_Time']) <= 5:
            df.loc[i, 'Arrival_Time'] = pd.to_datetime(df.loc[i, 'Arrival_Time'], format='%H:%M').time().hour
        else:
            df.loc[i, 'Arrival_Time'] = df.loc[i, 'Arrival_Time'][:5]
            df.loc[i, 'Arrival_Time'] = pd.to_datetime(df.loc[i, 'Arrival_Time'], format='%H:%M').time().hour
    df['Arrival_Time'] = df['Arrival_Time'].astype(int)

convert_time_columns(train)
convert_time_columns(test)

ValueError: time data '22' does not match format '%H:%M' (match)

In [ ]:
def calculate_total_minutes(df):
    for i in df.index:
        duration = df.loc[i, 'Duration']
        hours, minutes = 0, 0

        if 'h' in duration:
            hours = int(duration.split('h')[0])

        if 'm' in duration:
            minutes = int(duration.split('m')[0].split()[-1])

        total_minutes = hours * 60 + minutes
        df.loc[i, 'Duration'] = total_minutes

    df['Duration'] = df['Duration'].astype(int)
calculate_total_minutes(train)
calculate_total_minutes(test)

In [ ]:
def red_eye_flight(df):
    mask = ((df['Arrival_Time'].between(0, 7) | df['Dep_Time'].between(22, 23)) & (df['Duration'] <= 600))
    df.loc[mask, 'Additional_Info'] = df.loc[mask, 'Additional_Info'].replace('No info', 'Red-eye flight')
red_eye_flight(train)
red_eye_flight(test)

In [ ]:
train['Additional_Info'].value_counts()
train.groupby(by='Additional_Info')['Total_Stops'].value_counts()
def replace_airline_values(df):
    df['Airline'] = df['Airline'].replace(['Vistara Premium economy'], 'Vistara')
    df['Airline'] = df['Airline'].replace(['Multiple carriers Premium economy'], 'Multiple carriers')
    df['Airline'] = df['Airline'].replace(['Trujet'], 'Multiple carriers')
replace_airline_values(train)
replace_airline_values(test)

In [ ]:
train['Route']=train['Route'].fillna('DEL → MAA → COK')
train['Total_Stops']=train['Total_Stops'].fillna('1 stop')

In [ ]:
def group_routes(df):
    specific_categories = [
        'DEL → BOM → COK',
        'BLR → DEL',
        'CCU → BOM → BLR',
        'CCU → BLR',
        'BOM → HYD',
        'CCU → DEL → BLR',
        'BLR → BOM → DEL',
        'MAA → CCU',
        'DEL → HYD → COK',
        'DEL → JAI → BOM → COK',
        'DEL → BLR → COK',
        'DEL → COK',
        'DEL → AMD → BOM → COK',
        'DEL → MAA → COK',
        'DEL → IDR → BOM → COK',
        'DEL → HYD → MAA → COK'
    ]

    df['Route'] = df['Route'].apply(lambda x: x if x in specific_categories else 'Others')

group_routes(train)
group_routes(test)

In [ ]:
def frequency_encode(df, column):
    frequency_map = df[column].value_counts(normalize=True).to_dict()
    df[column + '_freq_encoded'] = df[column].map(frequency_map)

frequency_encode(train,'Route')

frequency_encode(test,'Route')

In [ ]:
input_cols=['Airline', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Month', 'Day', 'WeekOfYear', 'Next_Day',
       'Route_freq_encoded']

target_cols='Price'

In [ ]:
inputs=train[input_cols]
target=train[target_cols]
test_inputs=test[input_cols]

In [ ]:
numeric_cols=[
       'Dep_Time', 'Arrival_Time', 'Duration', 'Month', 'Day', 'WeekOfYear', 'Next_Day',
       'Route_freq_encoded']

categorical_cols=['Airline','Total_Stops','Additional_Info','Source','Destination']

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore').fit(inputs[categorical_cols])

In [ ]:
encoded_cols = list(encoder.get_feature_names_out(categorical_cols))

inputs[encoded_cols] = encoder.transform(inputs[categorical_cols])
test_inputs[encoded_cols] = encoder.transform(test_inputs[categorical_cols])

In [ ]:
from sklearn.preprocessing import QuantileTransformer

scaler = QuantileTransformer()

In [ ]:
scaler.fit(inputs[numeric_cols])
inputs[numeric_cols] = scaler.transform(inputs[numeric_cols])
scaler.fit(test_inputs[numeric_cols])
test_inputs[numeric_cols] = scaler.transform(test_inputs[numeric_cols])

In [ ]:
X = inputs[numeric_cols + encoded_cols]
X_test = test_inputs[numeric_cols + encoded_cols]
X

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,target,test_size=0.2, random_state=42)
def rmse(model):
    model.fit(X_train, y_train)
    train_preds=model.predict(X_train)
    val_preds=model.predict(X_val)
    train_rmse = mean_squared_error(y_train, train_preds, squared=False)
    val_rmse = mean_squared_error(y_val, val_preds, squared=False)
    return train_rmse,val_rmse

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

linear_regression = LinearRegression()

rmse(linear_regression)

In [ ]:
from xgboost import XGBRegressor
gradient_boosting = XGBRegressor(random_state=42, n_jobs=-1, objective='reg:squarederror')

rmse(gradient_boosting)