In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [2]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='NwydacEFCQc6sXRUwYgODtIUOsaEprPGFDmGOVWw6UZJ',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us-south.cloud-object-storage.appdomain.cloud')

bucket = 'flightpriceprediction-donotdelete-pr-1v5umiobsrnl0m'
object_key = 'Data_Train.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

In [3]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [4]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [5]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [6]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [7]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [8]:
df['Route'].unique()

array(['BLR → DEL', 'CCU → IXR → BBI → BLR', 'DEL → LKO → BOM → COK',
       'CCU → NAG → BLR', 'BLR → NAG → DEL', 'CCU → BLR',
       'BLR → BOM → DEL', 'DEL → BOM → COK', 'DEL → BLR → COK',
       'MAA → CCU', 'CCU → BOM → BLR', 'DEL → AMD → BOM → COK',
       'DEL → PNQ → COK', 'DEL → CCU → BOM → COK', 'BLR → COK → DEL',
       'DEL → IDR → BOM → COK', 'DEL → LKO → COK',
       'CCU → GAU → DEL → BLR', 'DEL → NAG → BOM → COK',
       'CCU → MAA → BLR', 'DEL → HYD → COK', 'CCU → HYD → BLR',
       'DEL → COK', 'CCU → DEL → BLR', 'BLR → BOM → AMD → DEL',
       'BOM → DEL → HYD', 'DEL → MAA → COK', 'BOM → HYD',
       'DEL → BHO → BOM → COK', 'DEL → JAI → BOM → COK',
       'DEL → ATQ → BOM → COK', 'DEL → JDH → BOM → COK',
       'CCU → BBI → BOM → BLR', 'BLR → MAA → DEL',
       'DEL → GOI → BOM → COK', 'DEL → BDQ → BOM → COK',
       'CCU → JAI → BOM → BLR', 'CCU → BBI → BLR', 'BLR → HYD → DEL',
       'DEL → TRV → COK', 'CCU → IXR → DEL → BLR',
       'DEL → IXU → BOM → COK', 'CCU → IXB → BLR',
       'BLR → BOM → JDH → DEL', 'DEL → UDR → BOM → COK',
       'DEL → HYD → MAA → COK', 'CCU → BOM → COK → BLR',
       'BLR → CCU → DEL', 'CCU → BOM → GOI → BLR',
       'DEL → RPR → NAG → BOM → COK', 'DEL → HYD → BOM → COK',
       'CCU → DEL → AMD → BLR', 'CCU → PNQ → BLR',
       'BLR → CCU → GAU → DEL', 'CCU → DEL → COK → BLR',
       'BLR → PNQ → DEL', 'BOM → JDH → DEL → HYD',
       'BLR → BOM → BHO → DEL', 'DEL → AMD → COK', 'BLR → LKO → DEL',
       'CCU → GAU → BLR', 'BOM → GOI → HYD', 'CCU → BOM → AMD → BLR',
       'CCU → BBI → IXR → DEL → BLR', 'DEL → DED → BOM → COK',
       'DEL → MAA → BOM → COK', 'BLR → AMD → DEL', 'BLR → VGA → DEL',
       'CCU → JAI → DEL → BLR', 'CCU → AMD → BLR',
       'CCU → VNS → DEL → BLR', 'BLR → BOM → IDR → DEL',
       'BLR → BBI → DEL', 'BLR → GOI → DEL', 'BOM → AMD → ISK → HYD',
       'BOM → DED → DEL → HYD', 'DEL → IXC → BOM → COK',
       'CCU → PAT → BLR', 'BLR → CCU → BBI → DEL',
       'CCU → BBI → HYD → BLR', 'BLR → BOM → NAG → DEL',
       'BLR → CCU → BBI → HYD → DEL', 'BLR → GAU → DEL',
       'BOM → BHO → DEL → HYD', 'BOM → JLR → HYD',
       'BLR → HYD → VGA → DEL', 'CCU → KNU → BLR',
       'CCU → BOM → PNQ → BLR', 'DEL → BBI → COK',
       'BLR → VGA → HYD → DEL', 'BOM → JDH → JAI → DEL → HYD',
       'DEL → GWL → IDR → BOM → COK', 'CCU → RPR → HYD → BLR',
       'CCU → VTZ → BLR', 'CCU → DEL → VGA → BLR',
       'BLR → BOM → IDR → GWL → DEL', 'CCU → DEL → COK → TRV → BLR',
       'BOM → COK → MAA → HYD', 'BOM → NDC → HYD', 'BLR → BDQ → DEL',
       'CCU → BOM → TRV → BLR', 'CCU → BOM → HBX → BLR',
       'BOM → BDQ → DEL → HYD', 'BOM → CCU → HYD',
       'BLR → TRV → COK → DEL', 'BLR → IDR → DEL',
       'CCU → IXZ → MAA → BLR', 'CCU → GAU → IMF → DEL → BLR',
       'BOM → GOI → PNQ → HYD', 'BOM → BLR → CCU → BBI → HYD',
       'BOM → MAA → HYD', 'BLR → BOM → UDR → DEL',
       'BOM → UDR → DEL → HYD', 'BLR → VGA → VTZ → DEL',
       'BLR → HBX → BOM → BHO → DEL', 'CCU → IXA → BLR',
       'BOM → RPR → VTZ → HYD', 'BLR → HBX → BOM → AMD → DEL',
       'BOM → IDR → DEL → HYD', 'BOM → BLR → HYD', 'BLR → STV → DEL',
       'CCU → IXB → DEL → BLR', 'BOM → JAI → DEL → HYD',
       'BOM → VNS → DEL → HYD', 'BLR → HBX → BOM → NAG → DEL', nan,
       'BLR → BOM → IXC → DEL', 'BLR → CCU → BBI → HYD → VGA → DEL',
       'BOM → BBI → HYD'], dtype=object)

In [9]:
df['Route'].nunique()

128

In [10]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [11]:
df.dropna()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [12]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [13]:
pd.set_option('display.max_columns', None)
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [15]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [16]:
df['Total_Stops'].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [17]:
df['Additional_Info'].value_counts()

No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: Additional_Info, dtype: int64

In [18]:
df['Additional_Info']=df['Additional_Info'].replace(['No Info'], 'No info')

In [19]:
df['Destination']=df['Destination'].replace(['New Delhi'], 'Delhi')

In [20]:
def split_date(df):
    df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'],format="%d/%m/%Y")
    df['Month'] = df.Date_of_Journey.dt.month
    df['Day'] = df.Date_of_Journey.dt.day
    df['WeekOfYear'] = df.Date_of_Journey.dt.isocalendar().week
    df['WeekOfYear'] = df['WeekOfYear'].astype(int)
split_date(df)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24,12
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,1,18
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,9,23
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,12,19
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,4,9,15
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,4,27,17
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,4,27,17
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,3,1,9
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,5,9,19

In [21]:
def next_day(df):
    for i in df.index:
        if len(df.loc[i, 'Arrival_Time']) <= 5:
            df.loc[i, 'Next_Day'] = 0
        else:
            df.loc[i, 'Next_Day'] = 1
next_day(df)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear,Next_Day
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24,12,1.0
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,1,18,0.0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,9,23,1.0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,12,19,0.0
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,1,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,4,9,15,0.0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,4,27,17,0.0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,4,27,17,0.0
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,3,1,9,0.0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,5,9,19,0.0

In [22]:
df['Arrival_Time'] = pd.to_datetime(df['Arrival_Time'], errors='coerce')
has_date_and_time = df['Arrival_Time'].dt.date.notna()
df.loc[has_date_and_time, 'Arrival_Time'] = df.loc[has_date_and_time, 'Arrival_Time'].dt.time
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear,Next_Day
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22:20,01:10:00,2h 50m,non-stop,No info,3897,3,24,12,1.0
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15:00,7h 25m,2 stops,No info,7662,5,1,18,0.0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25:00,19h,2 stops,No info,13882,6,9,23,1.0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30:00,5h 25m,1 stop,No info,6218,5,12,19,0.0
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16:50,21:35:00,4h 45m,1 stop,No info,13302,3,1,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55,22:25:00,2h 30m,non-stop,No info,4107,4,9,15,0.0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45,23:20:00,2h 35m,non-stop,No info,4145,4,27,17,0.0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20,11:20:00,3h,non-stop,No info,7229,4,27,17,0.0
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11:30,14:10:00,2h 40m,non-stop,No info,12648,3,1,9,0.0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15:00,8h 20m,2 stops,No info,11753,5,9,19,0.0

In [23]:
df['Dep_Time'] = pd.to_datetime(df['Dep_Time'], errors='coerce')
has_date_and_time = df['Dep_Time'].dt.date.notna()
df.loc[has_date_and_time, 'Dep_Time'] = df.loc[has_date_and_time, 'Dep_Time'].dt.time
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear,Next_Day
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22:20:00,01:10:00,2h 50m,non-stop,No info,3897,3,24,12,1.0
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50:00,13:15:00,7h 25m,2 stops,No info,7662,5,1,18,0.0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25:00,04:25:00,19h,2 stops,No info,13882,6,9,23,1.0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05:00,23:30:00,5h 25m,1 stop,No info,6218,5,12,19,0.0
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16:50:00,21:35:00,4h 45m,1 stop,No info,13302,3,1,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19:55:00,22:25:00,2h 30m,non-stop,No info,4107,4,9,15,0.0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20:45:00,23:20:00,2h 35m,non-stop,No info,4145,4,27,17,0.0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,08:20:00,11:20:00,3h,non-stop,No info,7229,4,27,17,0.0
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11:30:00,14:10:00,2h 40m,non-stop,No info,12648,3,1,9,0.0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10:55:00,19:15:00,8h 20m,2 stops,No info,11753,5,9,19,0.0

In [24]:
def convert_time_columns(df):
    df['Dep_Time'] = pd.to_datetime(df['Dep_Time'], format='%H:%M:%S').dt.hour
    for i in df.index:
        if len(str(df.loc[i, 'Arrival_Time'])) <= 5:
            df.loc[i, 'Arrival_Time'] = pd.to_datetime(df.loc[i, 'Arrival_Time'], format='%H:%M:%S').hour
        else:
            df.loc[i, 'Arrival_Time'] = pd.to_datetime(df.loc[i, 'Arrival_Time'], format='%H:%M:%S').hour
    df['Arrival_Time'] = df['Arrival_Time'].astype(int)
    
convert_time_columns(df)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear,Next_Day
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22,1,2h 50m,non-stop,No info,3897,3,24,12,1.0
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,13,7h 25m,2 stops,No info,7662,5,1,18,0.0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,9,4,19h,2 stops,No info,13882,6,9,23,1.0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18,23,5h 25m,1 stop,No info,6218,5,12,19,0.0
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16,21,4h 45m,1 stop,No info,13302,3,1,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19,22,2h 30m,non-stop,No info,4107,4,9,15,0.0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20,23,2h 35m,non-stop,No info,4145,4,27,17,0.0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,8,11,3h,non-stop,No info,7229,4,27,17,0.0
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11,14,2h 40m,non-stop,No info,12648,3,1,9,0.0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10,19,8h 20m,2 stops,No info,11753,5,9,19,0.0

In [25]:
def calculate_total_minutes(df):
    for i in df.index:
        duration = df.loc[i, 'Duration']
        hours, minutes = 0, 0

        if 'h' in duration:
            hours = int(duration.split('h')[0])

        if 'm' in duration:
            minutes = int(duration.split('m')[0].split()[-1])

        total_minutes = hours * 60 + minutes
        df.loc[i, 'Duration'] = total_minutes

    df['Duration'] = df['Duration'].astype(int)
calculate_total_minutes(df)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear,Next_Day
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22,1,170,non-stop,No info,3897,3,24,12,1.0
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,13,445,2 stops,No info,7662,5,1,18,0.0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,9,4,1140,2 stops,No info,13882,6,9,23,1.0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18,23,325,1 stop,No info,6218,5,12,19,0.0
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16,21,285,1 stop,No info,13302,3,1,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19,22,150,non-stop,No info,4107,4,9,15,0.0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20,23,155,non-stop,No info,4145,4,27,17,0.0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,8,11,180,non-stop,No info,7229,4,27,17,0.0
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11,14,160,non-stop,No info,12648,3,1,9,0.0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10,19,500,2 stops,No info,11753,5,9,19,0.0

In [26]:
df['Additional_Info'].value_counts()
df.groupby(by='Additional_Info')['Total_Stops'].value_counts()
def replace_airline_values(df):
    df['Airline'] = df['Airline'].replace(['Vistara Premium economy'], 'Vistara')
    df['Airline'] = df['Airline'].replace(['Multiple carriers Premium economy'], 'Multiple carriers')
    df['Airline'] = df['Airline'].replace(['Trujet'], 'Multiple carriers')
replace_airline_values(df)
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear,Next_Day
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22,1,170,non-stop,No info,3897,3,24,12,1.0
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,13,445,2 stops,No info,7662,5,1,18,0.0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,9,4,1140,2 stops,No info,13882,6,9,23,1.0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18,23,325,1 stop,No info,6218,5,12,19,0.0
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16,21,285,1 stop,No info,13302,3,1,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19,22,150,non-stop,No info,4107,4,9,15,0.0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20,23,155,non-stop,No info,4145,4,27,17,0.0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,8,11,180,non-stop,No info,7229,4,27,17,0.0
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11,14,160,non-stop,No info,12648,3,1,9,0.0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10,19,500,2 stops,No info,11753,5,9,19,0.0

In [27]:
df['Total_Stops']=df['Total_Stops'].fillna('1 stop')
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,Day,WeekOfYear,Next_Day
0,IndiGo,2019-03-24,Banglore,Delhi,BLR → DEL,22,1,170,non-stop,No info,3897,3,24,12,1.0
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,5,13,445,2 stops,No info,7662,5,1,18,0.0
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,9,4,1140,2 stops,No info,13882,6,9,23,1.0
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18,23,325,1 stop,No info,6218,5,12,19,0.0
4,IndiGo,2019-03-01,Banglore,Delhi,BLR → NAG → DEL,16,21,285,1 stop,No info,13302,3,1,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,2019-04-09,Kolkata,Banglore,CCU → BLR,19,22,150,non-stop,No info,4107,4,9,15,0.0
10679,Air India,2019-04-27,Kolkata,Banglore,CCU → BLR,20,23,155,non-stop,No info,4145,4,27,17,0.0
10680,Jet Airways,2019-04-27,Banglore,Delhi,BLR → DEL,8,11,180,non-stop,No info,7229,4,27,17,0.0
10681,Vistara,2019-03-01,Banglore,Delhi,BLR → DEL,11,14,160,non-stop,No info,12648,3,1,9,0.0
10682,Air India,2019-05-09,Delhi,Cochin,DEL → GOI → BOM → COK,10,19,500,2 stops,No info,11753,5,9,19,0.0

In [28]:
input_cols=['Airline', 'Source', 'Destination', 'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops', 'Additional_Info', 'Month', 'Day', 'WeekOfYear', 'Next_Day']
target_cols='Price'

In [29]:
X=df[input_cols]
Y=df[target_cols]

In [30]:
numeric_cols=['Dep_Time', 'Arrival_Time', 'Duration', 'Month', 'Day', 'WeekOfYear', 'Next_Day']
categorical_cols=['Airline','Total_Stops','Additional_Info','Source','Destination']

In [31]:
from sklearn.preprocessing import OneHotEncoder
encoded_data = pd.DataFrame()
for column in categorical_cols:
    encoder = OneHotEncoder(sparse=False) 
    encoded_column = encoder.fit_transform(X[[column]])
    categories = encoder.categories_[0]
    column_names = [column + '_' + str(category) for category in categories]
    encoded_data[column_names] = pd.DataFrame(encoded_column)
X.drop(categorical_cols, axis=1, inplace=True)
X = pd.concat([X, encoded_data], axis=1)
X

C:\Users\Jai\AppData\Local\Temp\ipykernel_27448\3620193068.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(categorical_cols, axis=1, inplace=True)

,Dep_Time,Arrival_Time,Duration,Month,Day,WeekOfYear,Next_Day,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_SpiceJet,Airline_Vistara,Total_Stops_1 stop,Total_Stops_2 stops,Total_Stops_3 stops,Total_Stops_4 stops,Total_Stops_non-stop,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight,Source_Banglore,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata
0,22,1,170,3,24,12,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,5,13,445,5,1,18,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,9,4,1140,6,9,23,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,18,23,325,5,12,19,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,16,21,285,3,1,9,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,19,22,150,4,9,15,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10679,20,23,155,4,27,17,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10680,8,11,180,4,27,17,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10681,11,14,160,3,1,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10682,10,19,500,5,9,19,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,Y,test_size=0.2, random_state=42)

# Multiple Linear Regression Model

In [33]:
from sklearn.linear_model import LinearRegression

linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

LinearRegression()

In [34]:
y_pred=linear_regression.predict(X_val)

In [35]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_val, y_pred)
mse = mean_squared_error(y_val, y_pred)
rmse = mean_squared_error(y_val, y_pred, squared=False)
r2 = r2_score(y_val, y_pred)

print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2) Score:", r2)

Mean Absolute Error (MAE): 1782.848418920106
Mean Squared Error (MSE): 6662755.835230476
Root Mean Squared Error (RMSE): 2581.2314571208985
R-squared (R2) Score: 0.6851839670456142

# Random Forest Regression Model

In [36]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [39]:
y_pred2 = rf_model.predict(X_val)

In [40]:
mae = mean_absolute_error(y_val, y_pred2)
mse = mean_squared_error(y_val, y_pred2)
rmse = mean_squared_error(y_val, y_pred2, squared=False)
r2 = r2_score(y_val, y_pred2)

print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2) Score:", r2)

Mean Absolute Error (MAE): 659.4905516448664
Mean Squared Error (MSE): 2300884.2024156493
Root Mean Squared Error (RMSE): 1516.8665737023969
R-squared (R2) Score: 0.8912829383508613

# Gradient Boosting Model

In [41]:
from sklearn.ensemble import GradientBoostingRegressor

gb_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
gb_model.fit(X_train, y_train)

GradientBoostingRegressor(random_state=42)

In [44]:
y_pred3 = gb_model.predict(X_val)

In [45]:
mae = mean_absolute_error(y_val, y_pred3)
mse = mean_squared_error(y_val, y_pred3)
rmse = mean_squared_error(y_val, y_pred3, squared=False)
r2 = r2_score(y_val, y_pred3)

print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared (R2) Score:", r2)

Mean Absolute Error (MAE): 1262.8673416945546
Mean Squared Error (MSE): 3637281.454876412
Root Mean Squared Error (RMSE): 1907.1658173521284
R-squared (R2) Score: 0.8281380037509452

# Random Forest Regression model gives the best results hence we will deploy it on the cloud

In [ ]:
!pip install ibm_watson_machine_learning

In [ ]:
from ibm_watson_machine_learning import APIClient 
wml_credentials = {
    "url": "https://us-south.ml.cloud.ibm.com",
    "apikey":"dErnzVwz67vEC_oV02F_j7a_wVxYYIqUf0Ur8_3q_T7q"
}
client=APIClient(wml_credentials)

In [ ]:
def guid_from_space_name(client,space_name):
    space=client.spaces.get_details()
    return(next(item for item in space['resources'] if item['entity']["name"]==space_name)['metadata']['id'])

In [ ]:
space_uid= guid_from_space_name (client, 'ML model') 
print("Space UID-"+space_uid)

In [ ]:
client.set.default_space(space_uid)

In [ ]:
client.software_specifications.list(limit=500)

In [ ]:
software_spec_uid=client.software_specifications.get_uid_by_name("runtime-22.2-py3.10") 
software_spec_uid

In [ ]:
client.repository.store_model(model=rf_model,meta_props={
    client.repository.ModelMetaNames.NAME:"Price_modeling",
    client.repository.ModelMetaNames.TYPE:"scikit-learn_1.1 ", 
    client.repository.ModelMetaNames.SOFTWARE_SPEC_UID:software_spec_uid}
                                             )